.mainpage-container { 
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  border: solid blue !important;
}
main {
  flex: 1 !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  border: solid black !important;
  background-color: #FBF7FB !important;
  margin: 0 20px !important;

}

#background-video{
    width: 50% !important;
    border: solid red !important;
    
}



.ui.fluid.dropdown {
   
    width: 60% !important; 

}

